@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(250, 250, 250);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(230, 230, 230);
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  height: 7em;
}

@media screen and (max-width: 670px) {
  .buttons {
    flex-direction: column;
    height: 20em;
  }
}

.user-button {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  text-align: center;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 5px;
  background: skyblue;
  width: 6em;
  transition: all 0.2s;
}

@media screen and (max-width: 670px) {
  .user-button {
    margin: 0.375em;
  }
}

.user-button:hover,
.user-button:focus {
  transform: scale(1.1);
}

.user-button.selected {
  border: 1px solid grey;
}

.scoreboard {
  font-family: "Poppins", sans-serif;
  font-size: 5rem;
  text-align: center;
  background: skyblue;
}

.rounds {
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  text-align: center;
  padding-bottom: 0.5em;
  background: skyblue;
  border-bottom: 5px solid black;
}

.commentary {
  font-family: "Oswald", sans-serif;
  font-size: 1.25rem;
  text-align: center;
  background: rgb(230, 230, 230);
  border-bottom: 5px solid black;
  padding: 0.5em 0;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  text-align: center;
  padding: 0.5em 0;
}
