* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(250, 250, 250);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(230, 230, 230);
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  height: 7em;
}

.user-button {
  font-family: Impact, sans-serif;
  font-size: 2rem;
  text-align: center;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 5px;
  background: skyblue;
  width: 6em;
  transition: all 0.2s;
}

.user-button:hover,
.user-button:focus {
  transform: scale(1.1);
}

.user-button.selected {
  border: 1px solid grey;
}

.scoreboard {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 5rem;
  text-align: center;
  border-bottom: 5px solid black;
  background: skyblue;
}

.commentary {
  font-family: Impact, sans-serif;
  font-size: 1.25rem;
  text-align: center;
  background: rgb(230, 230, 230);
  border-bottom: 5px solid black;
  padding: 0.5em 0;
}
